<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>login</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">

        </header>
        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">

                </div>
            </div>

        </section>  
        <section id="login"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>Login</h4>
                                <style>h4{
                                        text-align: center;
                                    }</style>
                            </div>
                            <div class="card-body">
                                <img src="https://inaturalist-open-data.s3.amazonaws.com/photos/10997575/large.jpg?1507336120" width="500" height="300"/>
                                <h1>[[#{plantilla.log}]]:</h1>
                                <style>
                                    h1{
                                        text-align: center;
                                    }
                                </style>
                                 <form id="form" method="POST" th:action="@{/login}">
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" name="username" id="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" id="password"/>
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-primary btn-block"/>
                                </form>
                                <style>
                                    #form{
                                        text-align: center;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
